[submodule "sources/acl"]
	path = sources/acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "sources/attr"]
	path = sources/attr
	url = https://git.savannah.nongnu.org/git/attr.git
[submodule "sources/autoconf"]
	path = sources/autoconf
	url = git://git.sv.gnu.org/autoconf
[submodule "sources/automake"]
	path = sources/automake
	url = git://git.savannah.gnu.org/automake.git
[submodule "sources/bash"]
	path = sources/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "sources/bc"]
	path = sources/bc
	url = https://git.gavinhoward.com/gavin/bc.git
[submodule "sources/binutils"]
	path = sources/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "sources/bison"]
	path = sources/bison
	url = https://git.savannah.gnu.org/git/bison.git
[submodule "sources/bzip2"]
	path = sources/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "sources/check"]
	path = sources/check
	url = https://github.com/libcheck/check.git
[submodule "sources/coreutils"]
	path = sources/coreutils
	url = git://git.sv.gnu.org/coreutils
[submodule "sources/dejagnu"]
	path = sources/dejagnu
	url = git://git.sv.gnu.org/dejagnu.git
[submodule "sources/diffutils"]
	path = sources/diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "sources/e2fsprogs"]
	path = sources/e2fsprogs
	url = https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "sources/elfutils"]
	path = sources/elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "sources/findutils"]
	path = sources/findutils
	url = https://git.savannah.gnu.org/git/findutils.git
