[submodule "sources/acl"]
	path = sources/acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "sources/attr"]
	path = sources/attr
	url = https://git.savannah.nongnu.org/git/attr.git
[submodule "sources/autoconf"]
	path = sources/autoconf
	url = git://git.sv.gnu.org/autoconf
[submodule "sources/automake"]
	path = sources/automake
	url = git://git.savannah.gnu.org/automake.git
